@import url(../css/basic/reset.css);
@import url(./basic/variables.css);
@import url(../css/common/common.css);
@import url(../css/components/button.css);
@import url(../css/components/card.css);
@import url(../css/components/swiper-bundle.css);

/* section */
@import url(../css/block/direction.css);
@import url(../css/block/advantages.css);
@import url(../css/block/cases.css);
@import url(../css/block/reviews.css);
@import url(../css/block/form.css);
@import url(../css/block/faq.css);

@import url(../css/block/page-services.css);
@import url(../css/block/why.css);
@import url(../css/block/species.css);
@import url(../css/block/page-whatsapp.css);
@import url(../css/block/map.css);
@import url(../css/block/offices.css);
@import url(../css/block/tariffs.css);
@import url(../css/block/404.css);
@import url(../css/block/intro.css);
@import url(../css/block/examples.css);
@import url(../css/components/burger.css);
@import url(../css/components/popup.css);
@import url(../css/components/cookie.css);
@import url(../css/block/hero.css);


@import url(../css/header/header.css);
@import url(../css/footer/footer.css);

/* fonts */
@font-face {
  font-family: 'Actay-Regular';
  src: url(../fonts/Actay-Regular.woff2), ;
  font-weight: 400;
}

@font-face {
  font-family: 'Actay-Bold';
  src: url(../fonts/ActayWide-Bold.woff2), ;
  font-weight: 700;
}