:root {
  /* color */
  --color-main-bg: #FFFFFF;
  --color-btn: #3FA9F5;
  --color-accent: #222222;
  --color-btn-hover: #39B54A;
  --color-card-accent-bg: #F2F8FD;
  --color-card-bg: #D2E4FF;
  /* fonts */
  --Regular: Actay-Regular;
  --Bold: Actay-Bold;
}