.advantages {
  margin-bottom: 120px;
}

.advantages__content {
  margin-bottom: 50px;
}

.advantages__column-left {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.advantages-btn-none {
  display: none;
}

.advantages__column-right {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.advantages-card-btn-none {
  display: none;
}

.advantages-card-btn-block {
  display: block;
}

@media (min-width:750px) {

  .advantages__column-right {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (min-width:1024px) {

  .advantages__column-right {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

  }

  .card-3 {
    grid-template-columns: repeat(3, 1fr);

  }

  .card-5 {
    grid-template-columns: repeat(6, 1fr);

  }

  .card-5>.card:nth-child(1),
  .card-5>.card:nth-child(2) {
    grid-column: span 3;
  }

  .card-5>.card {
    grid-column: span 2;
  }

  .card-7 {
    grid-template-columns: repeat(6, 1fr);

  }

  .card-7>.card:nth-child(1),
  .card-7>.card:nth-child(2),
  .card-7>.card:nth-child(6),
  .card-7>.card:nth-child(7) {
    grid-column: span 3;
  }

  .card-7>.card {
    grid-column: span 2;
  }
}

@media (min-width:1200px) {
  .advantages {
    margin-bottom: 200px;
  }

  .advantages-btn-bottom {
    display: none;
  }

  .advantages-btn-none {
    display: inline-flex;
  }

  .advantages__content {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    display: flex;
    gap: 70px;
  }

  .advantages__column-left {
    padding: 30px 30px 0 30px;
    max-width: 396px;
    margin-bottom: 0;

  }

  .advantages-btn-none {
    margin-top: auto;
  }

  .advantages__column-right {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-5 {
    grid-template-columns: repeat(6, 1fr);

  }


  .card-5>.card {
    grid-column: span 3;
  }

  .card-3>.card {
    max-width: 100%;
  }

  .card-5 {
    grid-template-columns: repeat(6, 1fr);

  }
}

@media (min-width:1400px) {
  .card-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

  }

  .card-5>.card:nth-child(1),
  .card-5>.card:nth-child(2) {
    grid-column: span 3;
  }

  .card-5>.card {
    grid-column: span 2;
  }
}