.services {
  margin-bottom: 120px;
}

.services__menu {
  padding: 20px;
  background-color: var(--color-card-bg);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 10px;
  height: fit-content;
  position: relative;
  z-index: 1000;
}

.services__menu-btn-box {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.services__menu-title {
  font-family: var(--Regular);
  flex: 1 0;
  font-size: 16px;
  padding: 15px 15px;
  text-align: center;
  background-color: var(--color-main-bg);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-right: 10px;
  color: #7E8EA1;
}

.services__menu-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main-bg);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin-left: auto;
}

.services__menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 0;
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: var(--color-card-bg);
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
  transition: height .3s ease, opacity .3s ease;
  -webkit-transition: height .3s ease, opacity .3s ease;
  -moz-transition: height .3s ease, opacity .3s ease;
  -ms-transition: height .3s ease, opacity .3s ease;
  -o-transition: height .3s ease, opacity .3s ease;
  z-index: 1000;
}

.services__menu-list.active {
  height: auto;
  opacity: 1;
}

.services__menu-link {
  width: 100%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--color-main-bg);
  border-radius: 30px;
  color: #7E8EA1;
  border: 1px solid transparent;
  transition: border .3s ease;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  -ms-transition: border .3s ease;
  -o-transition: border .3s ease;
}

.services__menu-link:active {
  border: 1px solid var(--color-btn-hover);
}

.services__cards-box>.card {
  max-width: 525px;
}

@media (min-width:1024px) {

  .services__menu {
    max-width: calc(50% - 10px);
  }
}

@media (min-width:1200px) {
  .services {
    margin-bottom: 200px;
  }

  .services__menu {
    max-width: 326px;
    margin-bottom: 0;
    padding: 30px;
  }

  .services__menu-list {
    height: auto;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
  }

  .services__menu-btn-box {
    display: none;
  }

  .services__cards-section {
    display: inline-grid;
    grid-template-columns: 326px 1fr;
    gap: 20px;
  }

  .services__cards-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media (min-width:1024px) {} */
@media (hover:hover) {

  .services__menu-link:hover {
    border: 1px solid var(--color-btn-hover);
  }
}